<!DOCTYPE html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/style.css" />
        <link rel="stylesheet" href="../static/css/s1.css" />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    </head>
    <title>Dashboard Page</title>
    <body>
        <div id="header" style="margin-bottom: 25px;" class="row flex-display">
            <div class="one-third column">
                <img src="../static/images/pic1.png", id="corona-image" , style="height:60px;width:70px; margin-bottom:25px;border-radius: 8px;box-shadow: 4px 4px 4px #060708">
            </div> 
            <div id="title" class="one-half column">
                <h3 style="margin-bottom:0px;color:rgb(240, 240, 255);">Mapping</h3>
                <h5 style="margin-top: 0px;color: rgb(240, 240, 255);">Control</h5>
            </div>
            <div>
                <h6 style="color: orange;" id="title1" class="one-third column">Last Updated : LBERAH</h6>
            </div>
        </div>
        <div class="row flex-display">        
            <div class="card_container three columns">
                <h6 style="text-align: center;color: white;">Global Cases</h6>
                
            </div>
            <div class="card_container three columns">
                <h6 style="text-align: center;color: white;">Global Deaths</h6>
            </div>
            <div class="card_container three columns">
                <h6 style="text-align: center;color: white;">Global Recovered</h6>
            </div>
            <div class="card_container three columns">
                <h6 style="text-align: center;color: white;">Global Active</h6>
            </div>
        </div>
        <div>
            <div class="create_container three columns" id="cross-filter-options">
                <p class="fix_label" style="color: white;">Select Country</p>
                <p class="fix_label" style="text-align: center; color: white;">New cases</p>
            </div>
            <div class="row flex-display">
                <div class="create_container three columns"></div>
                <div class="create_container six columns"></div>
            </div>
        </div>
        <div class="row flex-display" id="mainContainer" style="display: flex;flex-direction: column;">

        </div>
    </body>
</html>